include LICENSE *.rst *.toml *.yml *.yaml *.ini
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
recursive-include licenses *
graft .github

# Stubs
include src/audio_feeder/py.typed
recursive-include src *.pyi

# Tests
include tox.ini
recursive-include tests *.py
recursive-include tests/data *.*

# Documentation
recursive-include docs *.png
recursive-include docs *.jpg
recursive-include docs *.jpeg
recursive-include docs *.svg
recursive-include docs *.py
recursive-include docs *.rst
prune docs/_build
prune docs/_output
