name: audio_feeder

on: [pull_request]

jobs:
  tests:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "pypy-3.9"]
        os: ["ubuntu-latest"]
    env:
      TOXENV: py

    steps:
    - uses: actions/checkout@v3
    - name: ${{ matrix.python-version }} - ${{ matrix.os }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - uses: FedericoCarboni/setup-ffmpeg@v1
      id: setup-ffmpeg
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade tox
    - name: Run tests
      run: |
        tox

  other:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        toxenv: ["build", "lint", "typing"]
    env:
      TOXENV: ${{ matrix.toxenv }}

    steps:
      - uses: actions/checkout@v3
      - name: ${{ matrix.toxenv }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade tox
      - name: Run action
        run: |
          tox
